<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenidos consumo de api de Rick and Morty</h1>
    <div class="card flex justify-content-center">
        <p-card header="Inicio de sesión" subheader="por favor ingrese sus datos:" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="/assets/imagenes/rick.jpg" />
            </ng-template>
    
            <mat-form-field class="example-form-field" [formGroup]="fromUsuario" (ngSubmit)="enviarDatos()">
                <mat-label>Correo Electronico</mat-label>
                <input matInput type="email" formControlName="correoElectronico">
                <button *ngIf="fromUsuario.get('correoElectronico')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="fromUsuario.get('correoElectronico')?.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field class="example-form-field" [formGroup]="fromUsuario" (ngSubmit)="enviarDatos()">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="contraseña">
                <button *ngIf="fromUsuario.get('contraseña')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="fromUsuario.get('contraseña')?.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
    
    
            <ng-template pTemplate="footer">
                <p-button type="submit" [disabled]="fromUsuario.invalid" label="Save" icon="pi pi-check" (onClick)="enviarDatos()"></p-button>
            </ng-template>
        </p-card>
    </div>
</body>
</html>





